:root{
  --right: env(safe-area-inset-right, 0px);
  --top: env(safe-area-inset-top, 0px);
  --left: env(safe-area-inset-left, 0px);
  --bottom: env(safe-area-inset-bottom, 0px);
}

body::-webkit-scrollbar {
  display: none !important;
}
::-webkit-scrollbar {
  width: 0px !important;
  height: 0px;
  display: none;
}
html {
  overflow: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  background: var(--color-background);
  font-family: 'SF Pro Rounded', sans-serif !important;
  font-weight: 400;
  min-height: 100dvh;
  width: 100vw;
}

#__nuxt {
  max-width: 430px;
  margin: 0 auto;
  position: relative;
  background: var(--color-background);
  height: 100%;
  width: 100%;
  min-height: 100dvh;
  padding-top: var(--top);
  padding-bottom: var(--bottom);
  padding-left: var(--left);
  padding-right: var(--right);
}
@media (min-width: 768px) {
  body {
    background: var(--color-text1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .mobile-container {
    max-width: 100%;
  }
}
button{
  cursor: pointer;
}
input{
  outline: none !important;
  border: none !important;
}
.safe-padding {
	padding: var(--top) var(--right) var(--bottom) var(--left);
}
.bottom{
  padding-bottom: var(--bottom);
}
.header-fixed {
  top: var(--top);
}

.footer-fixed {
  bottom: var(--bottom);
}