html{
  font-family: 'SF Pro Rounded', sans-serif !important;
  font-weight: 400;
}
body{
  box-sizing: border-box;
  outline: none !important;
  border: none !important;
  margin: 0;
  padding: 0;
}
input{
  outline: none !important;
  border: none !important;
}