html, body, #__nuxt {
  height: 100%;
  min-height: 100dvh;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-background);
  font-family: 'SF Pro Rounded', sans-serif !important;
  font-weight: 400;
}

#__nuxt {
  display: flex;
  flex-direction: column;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
input{
  outline: none !important;
  border: none !important;
}
.safe-padding {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
.header-fixed {
  top: env(safe-area-inset-top);
}

.footer-fixed {
  bottom: env(safe-area-inset-bottom);
}